body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: sans-serif;
}

#giocof, #giocom, #giocod {
    text-align: center; 
    margin-top: 20px;
}

#giocof button,
#giocom button,
#giocod button {
    display: inline-block; 
    margin: 5px;
    font-size: 24px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#giocof button { 
    width: 60px; 
    height: 60px; 
}
#giocom button { 
    width: 50px; 
    height: 50px; 
}
#giocod button { 
    width: 40px;
    height: 40px;
 }

button:disabled {
    background-color: lightgray;
}
